{
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=5433;Database=default;Username=<username>;Password=<password>;timeout=1000;Include Error Detail=true"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
